.sortInput {
  position: relative;
  display: flex;
  align-items: center;
}
.sortInput .listSortInput {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}
.sortInput .listSortInput input {
  width: 200px;
  height: 40px;
  border: none;
  background-color: var(--bg);
  font-family: Comfortaa, sans-serif;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
}
.sortInput .listSortInput input:focus {
  outline: none;
}
.sortInput .listSortInput h3 {
  font-weight: 400;
  font-family: Comfortaa, sans-serif;
  font-size: 14px;
  margin: 0;
  user-select: none;
  position: absolute;
  pointer-events: none;
}
.sortInput .listSortInput svg {
  width: 20px;
  height: 12px;
  position: absolute;
  left: 3%;
  pointer-events: none;
  transform: rotate(-90deg);
}
.sortInput .listSortInput svg path {
  fill: var(--default--txt);
}
.sortInput .choicesBlock {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
}
.sortInput .choicesBlock .choicesList {
  position: relative;
  z-index: 15;
}
.sortInput .choicesBlock .choicesList .choiceItem {
  background-color: var(--accent);
  width: 270px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Comfortaa, sans-serif;
  font-size: 16px;
  cursor: pointer;
  border-bottom: var(--default--txt) 1px solid;
}
.sortInput .choicesBlock .choicesList .choiceItem.active {
  background-color: var(--accent--disable);
}
.sortInput .choicesBlock .choicesList .choiceItem:first-child {
  border-radius: 20px 20px 0 0;
}
.sortInput .choicesBlock .choicesList .choiceItem:last-child {
  border-radius: 0 0 20px 20px;
  border-bottom: none;
}
.sortInput .checkboxSortInput {
  width: 280px;
  height: 40px;
  border: none;
  background-color: var(--bg);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.sortInput .checkboxSortInput input {
  display: none;
}
.sortInput .checkboxSortInput h3 {
  font-weight: 400;
  font-family: Comfortaa, sans-serif;
  font-size: 16px;
  margin: 0;
  user-select: none;
}
.sortInput .checkboxSortInput .checkbox {
  display: flex;
  width: 20px;
  height: 20px;
  background-color: var(--accent--disable);
  border: var(--accent) 3px solid;
  border-radius: 100%;
  position: absolute;
  left: 3%;
  justify-content: center;
  align-items: center;
}
.sortInput .checkboxSortInput .checkbox::before {
  content: " ";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: var(--accent);
  opacity: 0;
}
.sortInput .checkboxSortInput .checkbox.active::before {
  opacity: 1;
}

@media screen and (min-width: 100px) and (max-width: 960px) {
  .sortInput {
    margin-bottom: 0;
  }
  .sortInput:nth-child(1) {
    width: 105px;
  }
  .sortInput:nth-child(2) {
    width: 53px;
  }
  .sortInput:nth-child(3) {
    width: 53px;
  }
  .sortInput:nth-child(4) {
    width: 53px;
  }
  .sortInput .listSortInput {
    width: 100%;
  }
  .sortInput .listSortInput input {
    width: 100%;
    height: 23px;
    border-radius: 5px;
  }
  .sortInput .listSortInput h3 {
    font-size: 10px;
  }
  .sortInput .listSortInput svg {
    display: none;
  }
  .sortInput .choicesBlock .choicesList .choiceItem {
    width: 105px;
    height: 23px;
    font-size: 8px;
    font-weight: 400;
  }
  .sortInput .choicesBlock .choicesList .choiceItem:first-child {
    border-radius: 5px 5px 0 0;
  }
  .sortInput .choicesBlock .choicesList .choiceItem:last-child {
    border-radius: 0 0 5px 5px;
  }
  .sortInput .choicesBlock svg {
    display: none;
  }
}

/*# sourceMappingURL=SortInput.module.css.map */
