.content {
  width: 200px;
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 367px;
  margin-bottom: 30px;

  img {
    width: 200px;
    height: 284px;
    border-radius: 20px 20px 0 0;
  }

  .infoBlock {
    background-color: var(--blockbg);
    padding: 0 15px 10px 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 3;
    border-radius: 0 0 20px 20px;
    h2 {
      color: var(--default--txt);
      font-family: Comfortaa, sans-serif;
      font-size: 16px;
      text-align: center;
      font-weight: 700;
      margin-bottom: 25px;
      margin-top: 11px;
    }

    div {
      display: flex;
      justify-content: space-between;

      p {
        color: var(--accent--txt);
        font-family: Inter, sans-serif;
        font-size: 16px;


        &:first-child {
          text-transform: uppercase;
        }
      }
    }


  }
  .bookmarkBlock {
    position: absolute;
    background-color: var(--accent);
    border-radius: 0 10px 10px 10px;
    color: var(--neutral--txt);
    top: 0;
    margin-top: 54px;
    padding: 8px 15px;
    font-family: Comfortaa, sans-serif;
    font-weight: 800;
    left: -12px;
    &::before {
      display: block;
      content: ' ';
      background-color: var(--accent);
      width: 12px;
      height: 10px;
      position: absolute;
      bottom: 100%;
      left: 0;
    }
    &::after {
      display: block;
      content: ' ';
      background-color: var(--accent--disable);
      width: 12px;
      height: 20px;
      position: absolute;
      bottom: 100%;
      left: 0;
      border-radius: 100px 0 0 100px;
    }
  }
}

@media screen and (min-width: 100px) and (max-width: 960px) {
  .content {
    width: 99px;
    min-height: 215px;
    margin-bottom: 20px;
    img {
      width: 99px;
      height: 140px;
    }

    .infoBlock {
      padding: 0 12px 8px 12px;
      h2 {
        font-size: 10px;
        margin-bottom: 0;
      }

      div {
        p {
          font-size: 10px;
        }
      }
    }

    .bookmarkBlock {
      margin-top: 30px;
      padding: 5px 9px;
      font-size: 10px;
      left: -6px;
      &::before, &::after {
        height: 10px;
        width: 6px;
      }
      &::before {
        border-radius: 20px 0 0 0;
      }
    }
  }
}

@media screen and (min-width: 550px) and (max-width: 960px) {
  .content {
    min-height: 262.2px;
    width: 113px;
    img {
      width: 113px;
      height: 160px;
    }

    .infoBlock {
      h2 {
        font-size: 12px;
      }

      div {
        p {
          font-size: 12px;
        }
      }
    }
  }
}