.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .notfound {
    position: relative;
    width: 1200px;
    display: flex;
    p {
      position: relative;
      font-size: 120px;
      font-weight: 800;
      text-align: center;
      z-index: 10;
    }
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) rotate(19deg);
      z-index: 5;
    }
  }

  a {
    color: var(--neutral--txt);
    font-family: Comfortaa, sans-serif;
    font-size: 60px;
    background-color: var(--accent);
    border-radius: 20px;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 50px;
  }
}

@media screen and (min-width: 100px) and (max-width: 960px) {
  .content {
    .notfound {
      width: 100vw;
      display: flex;
      justify-content: center;
      p {
        font-size: 55px;
      }
      img {
        width: calc(100%/2);
      }
    }

    a {
      font-size: 30px;
    }
  }
}