.content {
  position: relative;
  height: 100%;
}

@media screen and (min-width: 100px) and (max-width: 960px) {
  .content {
    text-align: center;
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}