.content {
  .settingsBlock {
    h1 {
      margin-bottom: 23px;
    }

    .inputsBlock {
      width: 534px;
      font-size: 16px;
      margin-left: 38px;
      .item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        input {
          width: 360px;
          height: 50px;
          border: none;
          outline: none;
          background-color: var(--bg);
          border-radius: 5px;
          padding: 0 10px;
          font-size: 20px;
          color: var(--form--label);
          &:focus {
            color: var(--default--txt);
          }
        }
      }
    }
  }



  .monthCheckBlock {
    display: flex;
    align-items: center;
    margin-top: 20%;
    h3 {
      font-family: Comfortaa, sans-serif;
      font-size: 20px;
      font-weight: 800;
      margin-right: 132px;
    }
    .days {
      display: grid;
      grid-template-columns: repeat(10, 30px);
      grid-gap: 30px;
      position: relative;
      cursor: default;
      user-select: none;
      .item {
        width: 30px;
        height: 30px;
        background-color: var(--bg);
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;

        &.active {
          background-color: var(--accent);
        }
      }

      .info {
        position: absolute;
        top: 100%;
        display: flex;
        margin-top: 30px;
        justify-content: space-around;
        width: 100%;
        .item {
          width: 20px;
          height: 20px;
        }
        div {
          display: flex;
          align-items: center;
          margin-right: 5px;
        }
      }
    }
  }
}

@media screen and (min-width: 100px) and (max-width: 960px) {
  .content {
    .settingsBlock {
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        font-size: 26px;
      }
      .inputsBlock {
        margin-left: 0;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .item {
          position: relative;
          width: auto;
          label {
            position: absolute;
            bottom: 100%;
            margin-bottom: 2px;
            margin-left: 10px;
          }
        }
      }
    }

    .monthCheckBlock {
      flex-direction: column;
      margin-top: 37px;
      &::before {
        content: 'Календарь посещений';
        font-size: 24px;
      }
      h3 {
        margin-right: 0;
        margin-top: 5px;
        margin-bottom: 30px;
        color: var(--accent);
      }

      .days {
        grid-gap: 8px;
        .item {
          width: 25px;
          height: 25px;
          border-radius: 5px;
        }

        .info {
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}

@media screen and (min-width: 960px) and (max-width: 1360px) {
  .content {
    .monthCheckBlock {
      width: 100%;

      h3 {
        margin-right: 50px;
      }

      .days {
        grid-gap: 15px;
      }
    }
  }
}

@media screen and (min-width: 960px) and (max-width: 1160px) {
  .content {

    .settingsBlock {
      .inputsBlock {
        margin-left: 18px;
      }
    }

    .monthCheckBlock {
      width: 100%;

      h3 {
        margin-right: 30px;
      }

      .days {

      }
    }
  }
}